@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removes arrows from number inputs on webkit (Chrome, Safari etc.) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Removes arrows from number inputs on firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Removes warning '<Fit />'s child needed to have its height decreased to 266.15625px.' */
.react-date-picker__calendar--open {
    height: 266px;
}

.edit-button-style {
    @apply bg-blue-300 enabled:hover:bg-blue-500;
    @apply text-xl font-bold text-black;
    @apply disabled:bg-gray-400;
}

.abort-button-style {
    @apply bg-yellow-300 enabled:hover:bg-yellow-500;
    @apply text-medium font-bold text-black;
}

.save-button-style {
    @apply bg-green-300 enabled:hover:bg-green-500;
    @apply text-xl font-bold text-black;
    @apply disabled:bg-gray-400;
}

.top-title-style {
    @apply text-4xl font-bold text-black;
}

.group-title-style {
    @apply text-xl font-bold text-black;
}

.group-content-style {
    @apply text-lg text-black;
}

.group-subtitle-style {
    @apply text-lg font-bold;
}

.input-text-style {
    @apply border rounded w-full py-2 px-3 text-gray-700 focus:outline-secondary-200;
}

.input-number-style {
    @apply border rounded w-12 py-2 px-3 text-gray-700 focus:outline-secondary-200;
}

.input-textarea-style {
    @apply border rounded-xl text-gray-700 focus:outline-secondary-200;
}

.icon-style {
    @apply p-1 rounded;
}

/* NB: Må ha både margin og padding av ukjent grunn for at det skal bli mellomrom mellom border og innhold */
.border-style {
    @apply border-5 rounded-xl border-blue-200;
}
